/* This is a compiled file, you should be editing the file in the templates directory */
.pace-running > header,
.pace-running > main ,
.pace-running > section ,
.pace-running > footer
{
    display: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: #F2BD1D;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
}
